.footer__main {
  background-color: black;
  color: white;
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer__main .navigation,
.footer__main .general {
  min-height: 20vh;
  padding: 1rem;
}

.footer__main ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style-type: none;
}

.footer__main ul li {
  margin: 5px;
}

/* Style all nav links */
.footer__main a {
  color: white;
  text-decoration: none;
}

/*Style icon Links */
.footer__main .icons a {
  color: white;
  margin-right: 15px;
  font-size: 1.3rem;
}

/* Portrait for mobile phones */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .footer__main {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
  }
  .footer__main ul {
    display: flex;
    flex-direction: column;
  }
  .footer__main .navigation,
  .footer__main .general {
    min-height: 20vh;
    padding: 1rem;
    text-align: center;
  }
}
